<div class="edit-blog-container">
  <section class="edit-blog-header">
    <div class="edit-blog-title">Add New Blog</div>
  </section>
  <br>
  <section class="edit-blog-body">
    <form id="add-blog-form">
      {{!-- <input
        type="text"
        class="edit-blog-title"
        id="edit-blog-title"
        placeholder="Title"
      /> --}}

      <div class="field">
      <label class="label">Title</label>
      <div class="control">
      <input type = 'text' class="input edit-blog-title" id="edit-blog-title" type="text" placeholder="Blog Title">
     </div>
    </div>
      <div class = 'field'>
          <label class = "label">Content</label>
         <div class="control">
          <textarea type='text'class="textarea edit-blog-content" id="edit-blog-content" placeholder="Whats on your mind?"></textarea>
      </div>
</div>
      </div>
      {{!-- <textarea
        type="text" 
        class="edit-blog-content"
        id="edit-blog-content"
        placeholder="Content"
      ></textarea> --}}
      <input type="submit" value="Add" />
    </form>
  </section>
</div>

<script src="/js/add-blog.js"></script>