<div class="blogs">
  <p class="dashboard-content">Your posts</p>
  <br>
  <ul>
    {{#each blogs}}
      <a href="/edit-blog/{{id}}">
        <li>
          <div class="dashboard-blog">
             <div class="card">
               <div class="blog-title title is-4">{{this.blog_title}}</div>
              <div class="blog-date">{{format_date created_at}}</div>

             </div>
            
          </div>
        </li>
      </a>
      <br>
    {{/each}}
  </ul>
  <a href="/add-blog">
    <button class="add-btn">Add a new post</button>
  </a>
</div>