<div class="form-container">
  <section class="form-header">
    <div class="form-title">Sign Up</div>
  </section>
  <section class="form-body">
    <form id="signup-form">
         <div class="field">
      <label class="label">Username</label>
      <div class="control">
      <input type = 'text' class="form-username input" id="username-signup" placeholder="Choose a username">
     </div>
    </div>
    <br>
       <div class="field">
      <label class="label">Password</label>
      <div class="control">
      <input type = 'text' class="form-password input" id="password-signup" placeholder="Choose a password">
     </div>
    </div>
      <input type="submit" value="Sign Up" />
      <br />
    </form>
  </section>
</div>

<script src="/js/signup.js"></script>